
body { 
  font-family: system-ui, Arial, sans-serif; 
  margin: 2px; 
  background-color: blue
}

h1 { 
  color: white; 
}

button {
  margin: 3px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: red;
}
